footer{
    display: flex;
    box-sizing: border-box;
    
}
.self-div{
    width: 25%;
    margin: 3px;
}
.self-div p{
    color: black;
    margin-left: 15px;

} 
.Social-icon{
    margin-left: 10px;
}
.Social-icon a {
    color: black;
    font-size: large;
    margin: 0 10px;
}
.Manu-List ul li{
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    right: 30px;
}
.Manu-List ul li a{
    text-decoration: none;
    color: black;    
}
.Manu-List ul li:hover a{
    border-bottom: 2px solid dodgerblue;
    font-weight: bold;
    transition: 0.15s;
}
.quick-Link ul li{
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    right: 30px;
}
.quick-Link ul li a{
    text-decoration: none;
    color: black;    
}
.quick-Link ul li:hover a{
    border-bottom: 2px solid dodgerblue;
    font-weight: bold;
    transition: 0.15s;
}
.contact-icon{
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;

}
.icons a {
    color: black;
    align-items: center;
    margin: 17px 0 0 20px;
}